

<div class="card" style="width: 18rem;">
  <img src="{{ concourse?.cover }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ concourse?.title }}</h5>
    <div class="d-flex justify-around align-items-center">
      <span class="bg-sucess">{{ concourse?.status }}</span>
      <span class="bg-primary">{{ concourse?.abrangency }}</span>
    </div>
    <div class="d-flex justify-content-center">
      <a href="#" class="btn btn-primary stretched-link">detalhes</a>
    </div>
  </div>
</div>
