<app-painellayout>
 <div class="page">
     <div class="card rounded">
        <div class="header-card">
          <div class="photo"></div>
        </div>
     <div class="body-card">
       <p><strong>Email</strong>: diegodutramoraimail.com</p>
       <p><strong>Tel</strong>: 11987435553</p>
       <p><strong>Senha</strong>: *******</p>
       <div class="d-flex justify-content-center">
         <div class="btn btn-primary">editar</div>
       </div>
     </div>
   </div>
   </div>

</app-painellayout>
