
<header>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src ='/logo.png' height="90px" />
    </a>
    <button class="navbar-toggler bd-0 bg-success text-info" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-warning "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <ul class="d-flex align-items-center navbar-nav me-auto mb-2 mb-lg-0">
      <li class="m-2"> <a  [routerLink]="['/']" >Inicio</a></li>
      <li class="m-2"> <a  [routerLink]="['/concursos']">Concursos</a></li>
      <li class="m-2"> <a  [routerLink]="['/cadastro']">Cadastro</a></li>
      <li class="m-2"> <a  [routerLink]="['/login']">Login</a></li>
      <li class="m-2"> <a  [routerLink]="['/conta']">Conta</a></li>
      <li class="m-2"> <a  [routerLink]="['/painel/concursos']">painel</a></li>
     </ul>
    </div>
  </div>
</nav>
</header>
