<app-layout>
  <div class="container">
    <div class="p-3 cx-form justify-center align-items-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <h2>Entrar</h2>
          <p>Preencha os campos para entrar na sua conta</p>
        </div>

        <!-- Campo de Email -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email:</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="concurseiro@gmail.com"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div
            *ngIf="getFormControl('email')?.invalid && getFormControl('email')?.touched"
            class="text-danger"
          >
            <div *ngIf="getFormControl('email')?.errors?.['required']">Email é obrigatório.</div>
            <div *ngIf="getFormControl('email')?.errors?.['email']">Por favor, insira um email válido.</div>
          </div>
        </div>

        <!-- Campo de Senha -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Senha:</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="********"
            id="exampleInputPassword1"
          />
          <div
            *ngIf="getFormControl('password')?.invalid && getFormControl('password')?.touched"
            class="text-danger"
          >
            <div *ngIf="getFormControl('password')?.errors?.['required']">Senha é obrigatória.</div>
            <div *ngIf="getFormControl('password')?.errors?.['minlength']">
              A senha deve ter pelo menos 6 caracteres.
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Enviar</button>
